<?xml version="1.0" encoding="UTF-8" ?>

<phpunit colors="true"
		convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
		syntaxCheck="false"
		stopOnFailure="true"
		bootstrap="vendor/autoload.php">
	<testsuite name="Base62 simple test">
		<directory>./tests/</directory>
	</testsuite>
</phpunit>